@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #080808;
  color: #f0ede8;
  font-family: 'Space Grotesk', system-ui, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #FF6B35;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #FF6B3560 !important;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff25;
}
